// Colors

$colorLagun: #136569;
$colorYellow: #E4B23B;
$colorDown: #FDDB7D;
$colorText: #771f64;
$colorGreenText: #133648;
$colorWhite: #ffff;

// Size font

$size_xs: 8px;
$size_sm: 11px;
$size_md: 15px;
$size_xm: 20px;
$size_lg: 25px;
$size_xl:50px;